/* Footer styles */

footer {
	color: white;
	margin-top: 50px;
	display: flex;
	gap: 1rem;
}

footer p {
	margin-top: 10px;
	text-align: center;
}

footer a {
	color: var(--yellow);
}
